GITEA_TOKEN={{ gitea_admin_token }}
JENKINS_API_TOKEN={{ backstage_jenkins_api_token | default('') }}
AUTH_KEYCLOAK_CLIENT_SECRET={{ backstage_keycloak_client_secret }}
NODE_EXTRA_CA_CERTS=/etc/backstage-keycloak-ca.crt
